
.logo {
    margin-top: 15px;
    float: left;
}

.header_topline {
    background-color: rgba(0,0,0,0.2);
    height: 10%;
    width: 100%;
    color: #fff;
    z-index: 99;
    position: fixed;
}
.header_topline .container, .container .row {
    height: 10% ;
}

.main_nav ul {
    list-style-type: none;
    float: right;
    margin-top: 40px;

}
.main_nav ul li{
    display: inline;
    padding-left: 35px;
}
ul a{
    color: #fff;
    font: 13px 'Droid Sans';
    text-transform:uppercase;

}
ul a:hover {
    color: #4bcaff;
    border-top: 2px solid #4bcaff;
    padding-top: 41px;
}

/***********************main_carousel****************************/

.owl-dots {
    width:100%;
    position: absolute;
    bottom:0;
    text-align: center;
    margin-bottom: 60px;
}
.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-dots .owl-dot span {
     width: 13px;
     height: 13px;
     display: block;
     margin: 5px;
     background: transparent;
     border:#fff 1px solid;
     list-style-type: none;
     border-radius: 50%;
     cursor:pointer;
     transition:background 0.3s ease-out;}

.owl-dots .owl-dot.active span, .owl-dot:hover span {
    background:#4bcaff;
    border-style: none;
}


.owl-nav {
    top:55%;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
.owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none; }
.owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

